@font-face {
	src: url(../font/trebuchetms.ttf);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	src: url(../font/trebuc.ttf);
	font-family: trebuchet;
	src: url(../font/trebuchetms.ttf);
	font-family: trebuchet;
	src: url(../font/trebuchetms.ttf);
	font-family: trebuchet;
	src: url(../font/trebuchetms.ttf);
	font-family: trebuchet;
}

.space-up .room-wrapper {
	margin:0px auto 5% auto;
}
/* phones and mobile view */
@media (max-width: 575.98px) {
	.room-container {
		margin: 10% auto;
	}
}

.room-container {
	margin: 10% auto;
	width: 90%;
	height: 250px;
	border-radius: 20px;
	-webkit-box-shadow: 7px 8px 20px 3px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 7px 8px 20px 3px rgba(0, 0, 0, 0.53);
	box-shadow: 7px 8px 20px 3px rgba(0, 0, 0, 0.53);
}
/* large device */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.room-container {
		margin: 10% auto;
		width: 70%;
		height: 350px;
		
	}
}
.color-overlay-apollo {
	width: 100%;
	height: 250px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
	position: relative;
	border-radius: 20px;
}

.content-centre{
	position: relative;
	margin-top: -20%;
}

.content-centre h1 {
	font-size: 20px;
	font-weight: 500;	
	color: #fff;
}

.content-bottom p {
	height: 170px;
}

.apollo-btn .btn-primary {
	background-color: #0d345f;
	border: 1px solid #0d345f;
	border-radius: 20px;
	font-size: 10px;
	padding: 10px 15px;
	-webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
	-moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
	box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
}

.apollo-btn .gallery-btn {
	background-color: slategray;
	border: 1px solid slategray;
}

.img-shimba {
	background-image: url(../images/shimba/img5.jpg);
	background-size: cover;
}

.img-Chyullu {
	background-image: url(../images/chyullu/img6.jpg);
	background-size: cover;
}
.img-ngong {
	background-image: url(../images/ngong/img5.jpg);
	background-size: cover;
}
.img-Cherengani {
	background-image: url(../images/cherengani/img1.jpg);
	background-size: cover;
}
.img-taita {
	background-image: url(../images/taita/img4.jpg);
	background-size: cover;
}

.img-Entertainment {
	background-image: url(../images/entertainment/main.jpg);
	background-size: cover;
}

.img-terrace {
	background-image: url(../images/terrace/img1.jpg);
	background-size: cover;
}

/* BOOKING MODAL */

.form-container {
	margin-top: 0px;
}

.form-container h3 {
	font-family: 'Oswald', sans-serif;
	color: #0d345f;
	font-size: 20px;
	/* margin-top: -10px; */
}

.form-container label {
	font-size: 14px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.comp-detail {
	margin-top: 2px;
	padding-left: 12px;
}

.book-btn .btn-primary {
	background-color: #0d345f;
	border: 1px solid #0d345f;
	border-radius: 20px;
	font-size: 15px;
	padding: 10px 15px;
	margin-top: 20px;
	width: 100%;
	-webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
	-moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
	box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
}

 .room-wrapper {
	margin-top: 10px;
}

/*--------------------------------------------------------------
# GALLERY VIEW
--------------------------------------------------------------*/
.gallery-banner {
	width: 100%;
	height: 65vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.gallery-banner::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 64.5%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.shimba-banner {
	background-image: url(../images/shimba/img7.jpg);
}
.taita-banner {
	background-image: url(../images/taita/img1.jpg);
}
.ngong-banner {
	background-image: url(../images/ngong/img5.jpg);
}
.chyullu-banner {
	background-image: url(../images/chyullu/img2.jpg);
}
.cherengani-banner {
	background-image: url(../images/cherengani/img1.jpg);
}
.entertainment-banner {
	background-image: url(../images/entertainment/main.jpg);
}
.terrace-banner {
	background-image: url(../images/terrace/img3.jpg);
}

.gallery-view {
	width: 90%;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
	transition: transform 1.5s;
	cursor: pointer;
	-webkit-box-shadow: 2px 3px 14px 3px rgba(13, 52, 95, 0.5);
	-moz-box-shadow: 2px 3px 14px 3px rgba(13, 52, 95, 0.5);
	box-shadow: 2px 3px 14px 3px rgba(13, 52, 95, 0.5);
}

/* SHIMBA HILLS GALLERY IMAGE */
.view-1 {
	background-image: url(../images/shimba/img8.jpg);
}
.view-2 {
	background-image: url(../images/shimba/img3.jpg);
}
.view-3 {
	background-image: url(../images/shimba/img10.jpg);
}
.view-4 {
	background-image: url(../images/shimba/img1.jpg);
}
.view-5 {
	background-image: url(../images/shimba/img6.jpg);
}
.view-6 {
	background-image: url(../images/shimba/img9.jpg);
}

/* CHYULLU HILLS GALLERY IMAGE */
.chyullu-view-1 {
	background-image: url(../images/chyullu/img1.jpg);
}
.chyullu-view-2 {
	background-image: url(../images/chyullu/img2.jpg);
}
.chyullu-view-3 {
	background-image: url(../images/chyullu/img3.jpg);
}
.chyullu-view-4 {
	background-image: url(../images/chyullu/img4.jpg);
}
.chyullu-view-5 {
	background-image: url(../images/chyullu/img5.jpg);
}
.chyullu-view-6 {
	background-image: url(../images/chyullu/img6.jpg);
}

/* CHERENGANI HILLS GALLERY IMAGE */
.cherengani-view-1 {
	background-image: url(../images/cherengani/img7.jpg);
}
.cherengani-view-2 {
	background-image: url(../images/cherengani/img2.jpg);
}
.cherengani-view-3 {
	background-image: url(../images/cherengani/img8.jpg);
}
.cherengani-view-4 {
	background-image: url(../images/cherengani/img4.jpg);
}
.cherengani-view-5 {
	background-image: url(../images/cherengani/img5.jpg);
}
.cherengani-view-6 {
	background-image: url(../images/cherengani/img6.jpg);
}
/* TAITA HILLS GALLERY IMAGE */
.taita-view-1 {
	background-image: url(../images/taita/img1.jpg);
}
.taita-view-2 {
	background-image: url(../images/taita/img2.jpg);
}
.taita-view-3 {
	background-image: url(../images/taita/img3.jpg);
}
.taita-view-4 {
	background-image: url(../images/taita/img4.jpg);
}
.taita-view-5 {
	background-image: url(../images/taita/img5.jpg);
}
.taita-view-6 {
	background-image: url(../images/taita/img6.jpg);
}
/* NGONG HILLS GALLERY IMAGE */
.ngong-view-1 {
	background-image: url(../images/ngong/img1.jpg);
}
.ngong-view-2 {
	background-image: url(../images/ngong/img2.jpg);
}
.ngong-view-3 {
	background-image: url(../images/ngong/img3.jpg);
}
.ngong-view-4 {
	background-image: url(../images/ngong/img4.jpg);
}
.ngong-view-5 {
	background-image: url(../images/ngong/img5.jpg);
}
.ngong-view-6 {
	background-image: url(../images/ngong/img6.jpg);
}
/* ENTERTAINMENT HILLS GALLERY IMAGE */
.entertainment-view-1 {
	background-image: url(../images/entertainment/img2.jpg);
}
.entertainment-view-2 {
	background-image: url(../images/entertainment/img1.jpg);
}
.entertainment-view-3 {
	background-image: url(../images/entertainment/img3.jpg);
}
.entertainment-view-4 {
	background-image: url(../images/entertainment/img4.jpg);
}
.entertainment-view-5 {
	background-image: url(../images/entertainment/img5.jpg);
}
.entertainment-view-6 {
	background-image: url(../images/entertainment/img6.jpg);
}
/* TERRACE IMAGE */
.terrace-view-1 {
	background-image: url(../images/terrace/img2.jpg);
}

.terrace-view-2 {
	background-image: url(../images/terrace/img1.jpg);
}

.terrace-view-3 {
	background-image: url(../images/terrace/img3.jpg);
}

.terrace-view-4 {
	background-image: url(../images/terrace/img4.jpg);
}

.terrace-view-5 {
	background-image: url(../images/terrace/img5.jpg);
}

.terrace-view-6 {
	background-image: url(../images/terrace/img6.jpg);
}

.gallery-view:hover {
	transform: scale(1.12);
	-webkit-box-shadow: 2px 3px 14px 2px rgba(200, 13, 16, 0.4);
	-moz-box-shadow: 2px 3px 14px 2px rgba(200, 13, 16, 0.4);
	box-shadow: 2px 3px 14px 2px rgba(200, 13, 16, 0.4);
}

.gallery-container .col-md-4 {
	margin: 3% auto;
}

.gallery-book {
	margin-top: 1%;
	width: 40%;
	font-size: 24px;
}
