@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

/* Domestic package DESIGN */

.box-container{
    margin: 10% auto 5% auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.box-container1 {
    margin: 10% auto 5% auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}

.forn-container{
    padding: 20px 10px;
}

.forn-container h2 {
    padding: 10px 0px 5px 0px;
    font-family: 'Oswald',
    sans-serif;
    color: #0C4DA2;
    font-size: 24px;
    
}

.forn-container label{
    color: #0D345F;
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    font-size: 15px;
    margin-top: 10px;
    padding-left: 20px;
}

.forn-container .form-check-input{
    margin-top: 0px;
}

.forn-container input{
    width: 90%;
    margin: 0 auto;
    color: #0C4DA2;
    margin-top: 5px;
    padding: 25px 10px;
}

.row-section input {
    margin-top: 25px;
}

.forn-container input::placeholder {
    color: slategray;
    font-family: 'Oswald',
    sans-serif;
    font-size: 14px;
}

.forn-container select {
    width: 95%;
    margin: 0 auto;
}

.forn-container select option {
    font-family: 'Oswald',
        sans-serif;
    font-size: 14px;
    color: #0C4DA2;
    padding: 10px 0px;
}

.check-cn{
    padding-top: 20px;
    text-align: left;
}

.check-bx{
    margin-top: 15px;
    /* margin-left: 10px; */
}

.btn-cal .btn{
    width: 100%;
    border-radius: 20px;
    padding: 10px 0;
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    font-weight: 600;
    -webkit-box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);
    -moz-box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);
    box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);
}

.btn-cal .btn:hover{
    background-color: #C80D10;
    border: 1px solid #C80D10;
    -webkit-box-shadow: 0px 5px 9px -1px rgba(200, 13, 16, 1);
    -moz-box-shadow: 0px 5px 9px -1px rgba(200, 13, 16, 1);
    box-shadow: 0px 5px 9px -1px rgba(200, 13, 16, 1);
}

.left-side{
    background-color: #0D345F;
    /* -webkit-box-shadow: 0px 0px 10px 5px rgba(13, 52, 95, 0.5);
    -moz-box-shadow: 0px 0px 10px 5px rgba(13, 52, 95, 0.5);
    box-shadow: 0px 0px 10px 5px rgba(13, 52, 95, 0.5); */

}

.left-side h2{
    padding: 15% 0px 5px 0px;
    font-family: 'Oswald',
    sans-serif;
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.left-side .box-amount{
    width: 70%;
    background-color: #fff;
    border-radius: 20px;
}

.box-amount p{
    text-align: center;
    padding: 10px 0px;
    font-size: 28px;
    font-family: 'Oswald',
    sans-serif;
}

.left-side h3 {
    text-align: center;
    font-family: 'Oswald',
    sans-serif;
    font-size: 24px;
    color: #fff;
}

.left-side ul{
    color: #fff;
    font-size: 16px;
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    padding-top: 10px;
}

.rate p{
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    font-family: 'Oswald',
    sans-serif;

}

.btn-assist{
    margin: 10% auto 0% auto;
}

.btn-assist .btn{
    width: 150px;
    height: 40px;
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    color: #fff;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    border-radius: 20px;
}

.btn-assist .btn:hover{
    background-color: #C80D10;
    border: 1px solid #C80D10;
    -webkit-box-shadow: 0px 5px 9px -1px rgba(200, 13, 16, 1);
    -moz-box-shadow: 0px 5px 9px -1px rgba(200, 13, 16, 1);
    box-shadow: 0px 5px 9px -1px rgba(200, 13, 16, 1);
    font-weight: 500;
}

.btn-red{
    width: 100%;
    margin: 10% auto 0 auto;
    padding-left: 40px;
    
}

.btn-red .btn{
    width: 90%;
    border-radius: 20px;
    padding: 10px 0;
    background-color: #C80D10;
    border: 1px solid #C80D10;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    color: #fff;

}

.btn-red .btn:hover {
    border: 1px solid #C80D10;
    -webkit-box-shadow: 0px 5px 9px 4px rgba(200, 13, 16, 0.8);
    -moz-box-shadow: 0px 5px 9px 4px rgba(200, 13, 16, 0.8);
    box-shadow: 0px 5px 9px 4px rgba(200, 13, 16, 0.8);
    font-weight: 500;

}
.btn-quote {
    width: 100%;
    margin: 10% auto 0 auto;
    padding-left: 40px;

}

.btn-quote .btn {
    width: 90%;
    border-radius: 20px;
    padding: 10px 0;
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
    color: #fff;

}

.btn-quote .btn:hover {
    border: 1px solid #0C4DA2;
    -webkit-box-shadow: 0px 5px 9px 4px rgba(12, 77, 162, 0.8);
    -moz-box-shadow: 0px 5px 9px 4px rgba(12, 77, 162, 0.8);
    box-shadow: 0px 5px 9px 4px rgba(12, 77, 162, 0.8);
    font-weight: 500;
    color: #fff;

}

/* .pos-btn{
    margin-top: 120%;
} */

/* MODAL */

.fas {
    cursor: pointer;
    color: #C80D10;
}

.modal-cont h2{
    font-family: 'Oswald',
    sans-serif;
    color: #0C4DA2;
    /* font-size: 24px; */
    text-align: center;
}

/* JAMII PLUS CALCULATOR */

.calc .calc_head th {
    color: #C80D10;
    font-weight: 500;
}

.calc .calc_value{
    color: #0C4DA2;
    font-weight: 500;
}

.result h2{
    font-size: 18px;
    margin: 0% auto;
    text-align: start;
}

.result_value{
   color: #009900;
   font-size: 16px;
   padding-left: 20px;
}