@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}



/* BANNER WITH GET A CLAIM */
.banner-home1 {
    margin-top: 50px;
    width: 100%;
    height: 55vh;
    background-image: url(../img/claim2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-home1::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    height: 55.4%;
    width: 100%;
    margin-top: 50px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.content-camp h2 {
    font-family: 'Oswald',
        sans-serif;
    color: #fff;
    position: absolute;
    font-weight: 500;
    padding: 10% 5%;
}

.box-quote {
    width: 60%;
    background-color: #0D345F;
    position: relative;
    top: 70%;
    border-radius: 10px;

}

.box-quote h3 {
    color: #fff;
    font-family: 'Oswald',
        sans-serif;
    width: 100%;
    padding-top: 25px;
}

.font-awsome {
    cursor: pointer;
    padding-bottom: 20px;
    padding: 20px 40px 0px 40px;

}


.font-awsome .fas {
    color: #fff;
    font-size: 35px;
    /* padding-top: 30px; */
}

.font-awsome p {
    font-size: 15px;
    color: #fff;

}

.font-awsome:hover .fas {
    color: #C80D10;

}

.font-awsome:hover p {
    color: #C80D10;

}

.font-awsome:hover {
    color: #C80D10;
    -webkit-box-shadow: 2px 3px 14px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 3px 14px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 3px 14px 0px rgba(0, 0, 0, 0.55);
    border-radius: 10%;
}

.quick-link {
    padding-top: 6%;
}

.quick-link .btn {
    margin: 5px auto;
    font-family: 'Oswald',
        sans-serif;
    width: 150px;
    font-size: 14px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #0D345F;
    border: 1px solid #0D345F;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.2);


}

.text-no {
    color: #fff;
    padding: 10px 40px 0 0;
    font-size: 17px;
    font-weight: 800;
}




/* WHAT WE OFFER NEW DESIGN */

.row-product1{
    margin: 7% auto;
}

.row-product1 .prod{
    cursor: pointer;
}

.box-container-img{
    width: 90%;
    height: 200px;  
    background-size: cover;
    border-radius: 20px;
    -webkit-box-shadow: 0px -1px 22px 2px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px -1px 22px 2px rgba(0, 0, 0, 0.33);
    box-shadow: 0px -1px 22px 2px rgba(0, 0, 0, 0.33);
}


.prod:hover .box-container-img {
    transform: scale(1.05);
    overflow: hidden;
    transition: transform 1.2s;
}

/* images of product */

.prod-1 {
    background-image: url(../images/travell.jpg);
}

.prod-2 {
    background-image: url(../images/motor.jpg);
}

.prod-3 {
    background-image: url(../images/life.jpeg);
}

.prod-4 {
    background-image: url(../images/marine.jpeg);
}

.prod-5 {
    background-image: url(../images/auto.jpg);
}

.prod-6 {
    background-image: url(../img/cow.jpg);
}




/* .prod:hover {
    transform: scale(1.05);
} */

.overlay{
    width: 100%;
    height: 200px;
    background-color: #000;
    border-radius: 20px;
    position: relative;
    opacity: 0.35;
}

.head-container {
    width: 55%;
    background-color: #fff;
    position: relative;
    margin-top: -22px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.4);
}

.head-container h2 {
    font-family: 'Oswald',
        sans-serif;
    color: #0C4DA2;
    font-size: 16px;
    padding: 9px 0;
}

.row-product1 p{
    margin-top: -30px;
}

/* button on what we offer */

.prod-btn .btn {
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px;
    -webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
}

.prod-btn .btn:hover{
    background-color: #C80D10;
    border: 1px solid #C80D10;
}

.prod-btn .prod-lf .btn {
    margin-left: -30px;
    background-color: slategray;
    border: 1px solid slategray;
}

.prod-btn .prod-lf .btn:hover {
    background-color: #C80D10;
    border: 1px solid #C80D10;
}



/* COMPANY NAV */

.overview-nav ul {
    width: 80%;
    background-color: #dbdbdb;
    border-radius: 20px;
    margin: 5% auto 2% auto; 
    -webkit-box-shadow: 0px 7px 14px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 14px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 14px -7px rgba(0, 0, 0, 0.75);
}

.overview-nav ul li a{
    color: #0C4DA2;
}

.overview-nav ul li a:hover {
    background-color: #fff;
    color: #EE2328;
}

.overview-nav ul li a{
    font-size: 18px;
    font-family: 'Oswald',
    sans-serif;
    padding: 20px 20px;
}



.header-image11 {
    width: 100%;
    height: 80vh;
    background-image: url(../images/travell.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.header-image1 {
    width: 100%;
    height: 80vh;
    background-image: url(../images/baby.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-image1a {
    width: 100%;
    height: 80vh;
    background-image: url(../img/motor-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-image2 {
    width: 100%;
    height: 80vh;
    background-image: url(../images/marine.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-image3 {
    width: 100%;
    height: 80vh;
    background-image: url(../images/fruit-big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-image::before{
    content: '';
    position: absolute;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 12%;
    right: 0;
    left: 0;
    bottom: 0;
}

/* JOB PAGE */
.job-box1 {
    margin-top:-30%; 
    margin-bottom: 10%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
}

/* MOTOR COVER */

.motor{
    margin: 5% auto;
}

.motor .product-motor-wrapper {
    width: 80%;
    height: 350px;
    background-size: cover;
    border-radius: 40px; 
    -webkit-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
}

.motor .private-motor {
    background-image: url(../images/motor.jpg);
}

.motor .private-commercial {
    background-image: url(../images/auto.jpg);
}

.color-overlay-motor{
    width:76% ;
    height: 350px;;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    position: absolute;
    border-radius: 40px;
}

.product-motor-wrapper .word-container{
    padding: 30% 10% 0 10%;
    position: relative;

}

.word-container h2{
    font-family: 'Oswald',
    sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

.word-container p{
    color: #fff;
    font-size: 14px;
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    text-align: left;
}

.btn-motor{
    padding-top: 10px;
}

.btn-motor .btn{
    border-radius: 20px; 
    height: 30px;
    font-size: 14px;
}

.btn-motor p{
    font-size: 12px;
}

.btn-motor .btn-read{
    background-color: slategray;
    border: 1px solid slategray;
}


/* COMPREHESIVE */
.btn-comprehensive{
    margin-top: 5% ;
}

.btn-comprehensive .btn{
    width: 40%;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 0px;
    -webkit-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    font-family: 'Oswald',
    sans-serif;

}

.btn-comprehensive .btn-primary{
    border: 1px solid #0C4DA2;
    background-color: #0C4DA2;
}

.btn-comprehensive .btn-primary a{
    color: #fff;
}

.btn-comprehensive .btn-danger{
    background-color: #C80D10;
}

.btn-comprehensive .btn-slate{
    background-color: slategray;
    color: #fff;
}




/* TABLES ON BENEFITS */

.head-text tr th {
    font-family: 'Oswald',
    sans-serif;
    color: #0C4DA2;
    font-size: 18px;
    text-align: center;
}

.uk-table tr td {
    text-align: left;
    padding-left: 10px;
    
}

/* OUR CLAIM PROCESS */
.product22 {
    width: 100%;
    margin: 0% auto 4% auto;
    padding-top: 2%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
}

.product22 .fomt{
    font-size: 25px;
    padding-top: 10px;
    margin-bottom: -10px;
}

.img-accident{
    background-image: url(../img/claim2.jpg);
}

.img-windscreen {
    background-image: url(../img/claim3.jpg);
}

.img-theft {
    background-image: url(../img/claim4.jpg);
}
.img-critical {
    background-image: url(../img/critical.jpg);
}
.img-death {
    background-image: url(../img/death.jpg);
}
.img-maturity {
    background-image: url(../img/maturity.jpg);
}
.img-partial {
    background-image: url(../img/partial.jpg);
}
.img-group {
    background-image: url(../img/group_life_claim.jpg);
}
.img-hosi {
    background-image: url(../img/hospitilization.jpg);
}
.img-ptd {
    background-image: url(../img/claim_life3.jpg);
}
.img-ttd {
    background-image: url(../img/tempo.jpg);
}
.img-credit {
    background-image: url(../img/credit_life.jpg);
}
.claim-property {
    background-image: url(../img/property_damage.jpg);
}
.claim-injury {
    background-image: url(../img/wiba_claim.jpg);
}
.claim-accident {
    background-image: url(../img/personal_accident.jpg);
}
.claim-livestock {
    background-image: url(../img/cow_dead.jpg);
}
.claim-crop {
    background-image: url(../img/crop_dead.jpg);
}

.charter2 {
    width: 100%;
    height: 300px;
    margin: 10% auto 6% auto;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
}

.charter2 img {
    width: 80px;
    /* height: 75px; */
    margin: 10% auto 0% auto;
}

.charter2 h2 {
    font-family: 'Oswald',
        sans-serif;
    color: #0C4DA2;
    font-size: 24px;
    padding-top: 20px;
}

.charter2 hr {
    width: 80%;
    margin: 0 auto;
    border: 1px solid slategray;
}

.charter2 p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top: 20px;
}

/* REIMBUSMENT CLAIM */

.charter3 {
    width: 100%;
    height: 480px;
    margin: 10% auto 6% auto;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
}

.charter3 img {
    width: 80px;
    /* height: 75px; */
    margin: 10% auto 0% auto;
}

.charter3 h2 {
    font-family: 'Oswald',
        sans-serif;
    color: #0C4DA2;
    font-size: 24px;
    padding-top: 20px;
}

.charter3 hr {
    width: 80%;
    margin: 0 auto;
    border: 1px solid slategray;
}

.charter3 p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top: 20px;
}

.charter3 li {
    width: 80%;
    margin: 0 auto;
     font-family: 'Trebuchet MS',
     'Lucida Sans Unicode',
     'Lucida Grande',
     'Lucida Sans',
     Arial,
     sans-serif;
    text-align: justify;
    padding: 3px 5px;
    color: #0D345F;
    font-size: 14px;
}
.charter2 li {
    width: 80%;
    margin: 0 auto;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    text-align: justify;
    padding: 3px 5px;
    color: #0D345F;
    font-size: 14px;
}

/* REQUEST TO YOU */

.request {
    width: 100%;
    height: 85vh;
    background-image: url(../img/customer.jpg);
    background-size: cover;

}

.request ul {
    padding-top: 10%;
    color: #0C4DA2;
}

.request ul li {
    padding-top: 20px;
}

.customer-request {
    margin-top: -15%;
}

.card-report{
    margin: 5% auto 10% auto;
    width: 90%;
    height: 400px;
    border-radius: 10px;
    color: #fff;
   -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.65);
   -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.65);
   box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.65);
}

.card-report:hover {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(200, 13, 16, 0.5);
    -moz-box-shadow: 0px 0px 14px 0px rgba(200, 13, 16, 0.5);
    box-shadow: 0px 0px 14px 0px rgba(200, 13, 16, 0.5);
}
.card-report h2{
    font-family: 'Oswald',
    sans-serif;
    color: #0D345F;
    padding: 40px 0px 10px 30px;
    font-size: 24px;
    text-align: center;
}

.card-report p {
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    color: #0D345F;
    padding: 40px 0px 10px 20px;
    font-size: 15px;
    text-align: justify;
}

.report-avatar{
    background-image: url(../img/avatar/report.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}

.report-avatar2 {
    background-image: url(../img/avatar/upload.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}