.contact-info-box {
    margin-top:-20%;
    margin-bottom: 10%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.contact-back{
   background-color: #0C4DA2;
   color: #fff;
   width: 100%;
   /* height: 70vh; */
}

.content-info{
    padding: 20px 20px 0px 25px;
    
}

.content-info .fas {
    font-size: 20px;
    padding-right: 10px;
}

.content-info h2 {
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Oswald',
    sans-serif;
}

.content-info p {
    color: #fff;
    padding-top: 7px;
    font-size: 14px;
}

/* DROP ME A LINE */

.content-info2 {
    padding: 20px 20px 0px 25px;

}

.content-info2 h2 {
    color: #0C4DA2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Oswald',
        sans-serif;
}

.form-algn{
    margin-top: 10px;
}

/* MAP MODULE */

.map h2 {
    color: #0C4DA2;
    text-align: center;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    font-family: 'Oswald',
        sans-serif;
}

/* BRANCHES */
.office-branch{
    background-image: #fff;
     padding: 25px 20px 0 20px;
     margin-top: -120px;
     background-color: #fff;
     border-radius: 20px;
     -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
     box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    
}

.head-office{
    margin-top: -50%;
    
}

.get-direction{
    padding: 15px 0 25px 0;
}

.branch {
    margin: 10% auto;
}

.color-info{
    color: #0C4DA2;
}