@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

/* Domestic package DESIGN */

.back-img{
    width: 100%;
    background-image: url(../img/man.jpg);
    background-size: cover;
    background-position:left center;
}

.back-register {
    width: 100%;
    background-image: url(../img/assurance.jpg);
    background-size: cover;
    background-position:  center;
}

.intern-register {
    width: 100%;
    background-image: url(../images/moha.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px; 
     -webkit-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.2);
     -moz-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.2);
     box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.2);
}
.maintaince {
    width: 100%;
    background-image: url(../img/avatar/maintainance.png);
    background-size: cover;

   
}
.Call-back {
    width: 100%;
    background-image: url(../img/avatar/woman_call.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    /* -webkit-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.2);
    -moz-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.2);
    box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.2); */
}

.customer-login{
    margin: 10% auto;
}

.customer-login1 {
    margin: 0% auto;
}
.customer-login h2{
    font-family: 'Oswald',
    sans-serif;
    color: #0C4DA2;
    font-size: 30px;
    text-align: center;
}

.customer-login1 h2 {
    font-family: 'Oswald',
        sans-serif;
    color: #0C4DA2;
    font-size: 30px;
    text-align: center;
}

.customer-form{
    width: 60%;
    margin: 3% auto 5% auto;
    
}

.intern-form {
    width: 80%;
    margin: 3% auto 5% auto;

}


.customer-form label{
    color: #0D345F;
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.customer-form input{
    padding: 25px 10px;

}

.customer-btn .btn{
    margin: 5% auto; 
    width: 70%;
    padding: 10px 0px;
    border-radius: 20px;
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    font-weight: 600;
    -webkit-box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);
    -moz-box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);
    box-shadow: 0px 5px 8px -2px rgba(12, 77, 162, 1);

}

.btn-cust .btn-gmail {
    background-color: #C80D10;
    border: 1px solid #C80D10;
    color: #fff;
    font-weight: 400;
}

.btn-cust .btn-fb {
    background-color: #3b5998;
    border: 1px solid #3b5998;
    color: #fff;
    font-weight: 400;
}

.btn-cust .fab {
    padding-right: 10px;
}