@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}


.uk-navbar-nav1{
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
    color: #0D345F;
    list-style-type: none;
    font-size: 16px;
    margin-left: -12%;
}

.uk-navbar-nav1 .list-down {
    display: inline-block;
    margin: 0 auto;
    padding: 0 10px;
}
@media (max-width: 767.98px) {
    .uk-navbar-nav1 .list-down {
        display: block;   
    }
}
/* @media (max-width: 575.98px) {
    .uk-navbar-nav1 .list-down {
        display: block;
    }
} */

.uk-navbar-nav1 li a{
    text-decoration: none;
    color: #0D345F;
}

.uk-navbar-nav1 li a:hover {
    color: #EE2328;
    padding-bottom: 15px;
    border-bottom: 3.5px solid #0C4DA2;
    
}
@media (max-width: 575.98px) {
    .uk-navbar-nav1 li a:hover{
        color: #EE2328;
        padding-bottom: 5px;
        border-bottom: 1.5px solid #fff;
    }
}

.uk-navbar-nav1 .back-color {
    background-color: #0D345F;
    opacity: 0.95;
    padding-left: 20px;
    margin-top: 0px;
    width: 100%;
}

.back-color .head-navi li {
    color: #fff;
}

.back-color ul li a{
    color: #fff;
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    padding-top: 10px;
    margin-left: 20px;
}

.back-color ul li a:hover{
    color: #EE2328;
    border-bottom: 0;
    padding-bottom: 12px;
}

.head-navi .uk-nav-divider {
    padding-bottom: 10px;
}

.head-navi .fas {
    padding-right: 10px;
    font-size: 15px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .uk-navbar-nav1 {
        margin-left: -20%;
        font-size: 11px;
    }

    #flags{
        margin-left: -70%;
        width: 30px;
    }

    .uk-navbar-nav1 li a {
        font-size: 11px;
    }


}