@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

.commercial-up {
    margin-top: -5%;
}


/* WHAT WE OFFER NEW DESIGN */

.row-product1 {
    margin: 7% auto;
}

.row-product1 .prod {
    cursor: pointer;
    margin: 0% auto 5% auto;
}

.box-container-img {
    width: 90%;
    height: 200px;
    background-size: cover;
    border-radius: 20px;
    -webkit-box-shadow: 0px -1px 22px 2px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px -1px 22px 2px rgba(0, 0, 0, 0.33);
    box-shadow: 0px -1px 22px 2px rgba(0, 0, 0, 0.33);
}

@media (max-width: 575.98px) {
    .box-reshape {
        background-size: contain;
        background-repeat: no-repeat;
    }
}


/* TABLET VIEW */

@media (min-width: 576px) and (max-width: 767.98px) {
    .box-container-img {
        width: 80%;
        /* height: 300px; */
    }
}

.box-container-img1 {
    width: 90%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-position: center;
}

.prod:hover .box-container-img {
    transform: scale(1.05);
    overflow: hidden;
    transition: transform 1.2s;
}

.prod:hover .box-container-img1 {
    transform: scale(1.05);
    overflow: hidden;
    transition: transform 1.2s;
}


/* images of personal products */

.prod-1 {
    background-image: url(../images/travell.jpg);
}

.prod-2 {
    background-image: url(../images/motor.jpg);
}

.prod-3 {
    background-image: url(../images/life.jpeg);
    background-position: center;
}

.prod-4 {
    background-image: url(../img/domestic.jpg);
}

.prod-5 {
    background-image: url(../images/auto.jpg);
}

.prod-6 {
    background-image: url(../img/cow.jpg);
}

.prod-7 {
    background-image: url(../images/health.jpg);
}

.prod-8 {
    background-image: url(../img/assurance.jpg);
}

.prod-9 {
    background-image: url(../img/golf1.jpg);
}

.prod-10 {
    background-image: url(../img/motorcycle.jpg);
}

.prod-11 {
    background-image: url(../img/pet1.jpg);
}

.prod-12 {
    background-image: url(../img/accident2.jpg);
}

.prod-13 {
    background-image: url(../img/pet1.jpg);
}

.prod-14 {
    background-image: url(../img/flexpac1.jpg);
}


/* images of personal products */

.life-1 {
    background-image: url(../img/saving1.jpg);
}

.life-2 {
    background-image: url(../img/saving3.jpg);
}

.life-3 {
    background-image: url(../img/educate.jpg);
}

.life-4 {
    background-image: url(../img/admited.jpg);
}

.life-5 {
    background-image: url(../img/funeral.jpg);
}

.life-6 {
    background-image: url(../img/life.jpg);
}

.life-7 {
    background-image: url(../img/last_expense.jpg);
}

.life-8 {
    background-image: url(../img/house.jpg);
}


/* APOLLO ASSET IMAGE */


/* Apollo Equity Fund */

.asset-1 {
    background-image: url(../img/apollo_asset/equityfund.png);
    border-radius: 20px;
}

.asset-1a {
    background-image: url(../img/apollo_asset/equityfundbanner.png);
    background-position: center;
}


/* Apollo Balanced Fund */

.asset-2 {
    background-image: url(../img/apollo_asset/balancefund.png);
}

.asset-2b {
    background-image: url(../img/apollo_asset/balancefundbanner.png);
}


/* Apollo Money Market Fund */

.asset-3 {
    background-image: url(../img/apollo_asset/moneymarket.png);
}

.asset-3b {
    background-image: url(../img/apollo_asset/moneymarketbanner.png);
}


/* images of commercial products */

.com-1 {
    background-image: url(../img/health.jpg);
}

.com-2 {
    background-image: url(../img/motor2.jpg);
}

.com-3 {
    background-image: url(../img/group.jpg);
}

.com-4 {
    background-image: url(../img/credit.jpg);
}

.com-5 {
    background-image: url(../img/liability.jpg);
}

.com-6 {
    background-image: url(../img/burglary.jpg);
}

.com-7 {
    background-image: url(../img/aviation.jpg);
}

.com-8 {
    background-image: url(../img/cargo.jpg);
}

.com-9 {
    background-image: url(../img/wiba.jpg);
}

.com-10 {
    background-image: url(../img/fire.jpg);
}

.com-11 {
    background-image: url(../img/bonds.jpg);
}

.com-12 {
    background-image: url(../img/package.jpg);
}

.com-13 {
    background-image: url(../img/engineer.jpg);
}

.com-14 {
    background-image: url(../img/transport.jpg);
}

.com-15 {
    background-image: url(../img/app.jpg);
}

.com-16 {
    background-image: url(../img/miscellaneous.jpg);
}

.com-17 {
    background-image: url(../img/crop.jpg);
}

.com-18 {
    background-image: url(../img/farmer.jpg);
}

.com-19 {
    background-image: url(../img/deposit.jpg);
}

.com-20 {
    background-image: url(../img/last_expense.jpg);
}


/* .prod:hover {
    transform: scale(1.05);
} */

.overlay {
    width: 100%;
    height: 200px;
    background-color: #000;
    border-radius: 20px;
    position: relative;
    opacity: 0.35;
}

.head-container {
    width: 100%;
    /* background-color: #fff;
    position: relative; */
    margin-top: 0px;
    border-radius: 20px;
}

.head-container h2 {
    font-family: 'Oswald', sans-serif;
    color: #0C4DA2;
    font-size: 20px;
    padding: 15px 0;
}

.row-product1 p {
    margin-top: -30px;
}


/* button on what we offer */

.prod-btn .btn {
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px;
    -webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
}

.prod-btn .btn:hover {
    background-color: #C80D10;
    border: 1px solid #C80D10;
}

.prod-btn .prod-lf .btn {
    margin-left: -30px;
    background-color: slategray;
    border: 1px solid slategray;
}

.prod-btn .prod-lf .btn:hover {
    background-color: #C80D10;
    border: 1px solid #C80D10;
}


/* COMPANY NAV */

.overview-nav ul {
    width: 80%;
    background-color: #dbdbdb;
    border-radius: 20px;
    margin: 5% auto 2% auto;
    -webkit-box-shadow: 0px 7px 14px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 14px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 14px -7px rgba(0, 0, 0, 0.75);
}

.overview-nav ul li a {
    color: #0C4DA2;
}

.overview-nav ul li a:hover {
    background-color: #fff;
    color: #EE2328;
}

.overview-nav ul li a {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    padding: 20px 20px;
}

.header-image11 {
    width: 100%;
    height: 60vh;
    background-image: url(../images/travell.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.header-image12 {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* PRODUCTS DETAILS BACKGROUND IMAGES */

.header-image1 {
    width: 100%;
    height: 70vh;
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header-image11 {
    width: 100%;
    height: 70vh;
    margin-top: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header-feedback {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-feedback::before {
    content: '';
    position: absolute;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 60px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.jamii-background {
    background-image: url(../images/weare.jpg);
}

.afya-background {
    background-image: url(../images/baby.jpg);
}

.motor-background {
    background-image: url(../img/motor-cover.jpg);
}

.domestic-background {
    background-image: url(../img/domestic.jpg);
}

.commercial-background {
    background-image: url(../images/auto.jpg);
}

.livestock-background {
    background-image: url(../img/cow.jpg);
}

.travel-background {
    background-image: url(../images/travell.jpg);
}

.apollo-center {
    background-image: url(../img/company.jpg);
}

.feedback-apa {
    background-image: url(../img/feedback.jpg);
}


/* LIFE PRODUCTS DETAILS BACKGROUND IMAGE*/

.life-imarika {
    background-image: url(../img/sheep.jpg);
}

.header-image2 {
    width: 100%;
    height: 70vh;
    background-image: url(../images/marine.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-image::before {
    content: '';
    position: absolute;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 60px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}


/* JOB PAGE */

.job-box1 {
    margin-top: -30%;
    margin-bottom: 10%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
}


/* MOTOR COVER */

.motor {
    margin: 5% auto;
}

.motor .product-motor-wrapper {
    width: 80%;
    height: 350px;
    background-size: cover;
    border-radius: 40px;
    -webkit-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
}

.motor .private-motor {
    background-image: url(../images/motor.jpg);
}

.motor .private-commercial {
    background-image: url(../images/auto.jpg);
}

.color-overlay-motor {
    width: 76%;
    height: 350px;
    ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    position: absolute;
    border-radius: 40px;
}

.product-motor-wrapper .word-container {
    padding: 30% 10% 0 10%;
    position: relative;
}

.word-container h2 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

.word-container p {
    color: #fff;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.btn-motor {
    padding-top: 10px;
}

.btn-motor .btn {
    border-radius: 20px;
    height: 30px;
    font-size: 14px;
}

.btn-motor p {
    font-size: 12px;
}

.btn-motor .btn-read {
    background-color: slategray;
    border: 1px solid slategray;
}


/* COMPREHESIVE */

.btn-comprehensive {
    margin-top: 5%;
}

.btn-comprehensive .btn {
    width: 40%;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 0px;
    -webkit-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 15px 2px rgba(95, 99, 104, 0.6);
    font-family: 'Oswald', sans-serif;
}

.btn-comprehensive .btn-primary {
    border: 1px solid #0C4DA2;
    background-color: #0C4DA2;
}

.btn-comprehensive .btn-primary a {
    color: #fff;
}

.btn-comprehensive .btn-danger {
    background-color: #C80D10;
}

.btn-comprehensive .btn-slate {
    background-color: slategray;
    color: #fff;
}


/* JAMII PLUS */

.cover-jamii {
    margin: 5% auto;
}

.jamii-cater .card {
    height: 330px;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.jamii-cater .card-header {
    width: 100%;
    color: #fff;
    font-size: 35px;
    background-color: #0D345F;
}

.jamii-cater .card-body h3 {
    font-size: 20px;
    color: #C80D10;
}

.jamii-cater .card-body p {
    font-size: 15px;
    text-align: left;
    font-weight: 300;
    margin: 0 auto;
}


/* TABLES ON BENEFITS */

.head-text tr th {
    font-family: 'Oswald', sans-serif;
    color: #0C4DA2;
    font-size: 18px;
    text-align: center;
}

.uk-table tr td {
    text-align: left;
    padding-left: 10px;
}


/* DOWNLOAD MATERIALS ON PRODUCTS */

.forms-download .box-download {
    border-radius: 20px;
    margin: 5% auto 3% auto;
    height: 200px;
    background-color: #c4c2c2;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
}

.forms-download .box-download a {
    text-decoration: none;
}

.download:hover {
    color: #C80D10;
}

.back-brochure {
    background-color: #c4c2c2;
}

.box-download h2 {
    font-family: 'Oswald', sans-serif;
    color: #0C4DA2;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration-line: none;
}

.box-download p {
    font-size: 15px;
    color: #0D345F;
}


/* TABLE BACKGROUND COLOR */

.blue-colum {
    background-color: #0D345F;
    color: #fff;
}

.blue-colum:hover {
    color: #0D345F;
}


/*  OUR BUILDING BLOCKS FOR INVESTMENT */

.charter-block1 {
    width: 100%;
    height: 500px;
    margin: 15% auto 6% auto;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
}

.charter-block1 .fas {
    font-size: 50px;
    margin: 10% auto 0% auto;
    color: #0D345F;
}

.charter-block1 h2 {
    font-family: 'Oswald', sans-serif;
    color: #0C4DA2;
    font-size: 20px;
    height: 50px;
}

.charter-block1 hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid slategray;
}

.charter-block1 p {
    padding: 10px 40px;
    text-align: left;
}

.info-container {
    margin: 5% auto;
}

.image-container {
    width: 100%;
    height: 100%;
    background-image: url(../img/analysis.jpg);
    background-size: cover;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
}

.table-algn {
    padding-left: 20px;
    margin-top: -20px;
}

thead tr .text-table-head {
    color: #0D345F;
    font-size: 15px;
    font-weight: 600;
}


/* APOLLO ASSET */

.invest-copy ol li {
    color: #0D345F;
}

.copy-color {
    color: #0D345F;
}