﻿@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

* {
    margin: 0 auto;
}

body {
    /* background-color: #e6e6e6; */
    background-color: #fff;
}

body h1,
h2,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    color: #0C4DA2;
}

@media (max-width: 767.98px) {
    body h1,
    h2,
    h3,
    h4,
    h5 {
        padding-top: 10%;
    }
}

@media (max-width: 575.98px) {
    body h1,
    h2,
    h3,
    h4,
    h5 {
        padding-top: 10%;
    }
}

body p {
    color: #0D345F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

a {
    color: #0D345F;
    transition: 0.5s;
    font-style: normal;
    font-family: 'Oswald', sans-serif;
}

.color-blue {
    color: #0D345F;
}

.color-red {
    color: #C80D10;
}

a:hover,
a:active,
a:focus {
    color: #C80D10;
    outline: none;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    padding: 12px 0 0 0;
    height: 65px;
    background-color: #fff;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    transition: all 0.5s;
    -webkit-box-shadow: 1px 10px 23px -11px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 1px 10px 23px -11px rgba(0, 0, 0, 0.55);
    box-shadow: 1px 10px 23px -11px rgba(0, 0, 0, 0.55);
}

#header .nav-menu li a {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #0C4DA2;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}

#header .nav-menu li a:hover {
    color: #EE2328;
    padding-bottom: 15px;
    border-bottom: 3.5px solid #0C4DA2;
}

#header #logo {
    float: left;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #header #logo {
        margin-left: -7%;
    }
}

.logo1 {
    position: absolute;
    top: 13px;
    right: 3%;
    z-index: 1;
}

@media (min-width: 1024px) {
    #header #logo {
        padding-left: 60px;
    }
}

#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #C80D10;
}

#header #logo img {
    padding: 0;
    margin: 0;
    margin-left: 25px;
}

@media (max-width: 768px) {
    #header #logo h1 {
        font-size: 28px;
    }
    #header #logo img {
        max-height: 50px;
    }
}


/*--------------------------------------------------------------
# BANNER COVER
--------------------------------------------------------------*/

.banner-cover {
    width: 100%;
    height: 55vh;
    background-image: url(../images/about.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-managment {
    width: 100%;
    height: 55vh;
    background-image: url(../img/group/apainsurance.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3%;
}

.banner-group {
    width: 100%;
    height: 55vh;
    background-image: url(../img/group/heads.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 3.2%;
}

.banner-product {
    width: 100%;
    height: 60vh;
    background-image: url(../img/family.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-commercial {
    width: 100%;
    height: 60vh;
    background-image: url(../img/commercial.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-life {
    width: 100%;
    height: 60vh;
    background-image: url(../img/group/apalife.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 2%;
}

.banner-asset {
    width: 100%;
    height: 55vh;
    background-image: url(../img/group/asset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3%;
}


/* HOMEPAGE CONTAINER */

.banner-home {
    margin-top: 30px;
    width: 100%;
    height: 80vh;
    background-image: url(../img/banner/health.jpg);
    background-size: cover;
    background-position: center;
}

.banner-home::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    margin-top: 65px;
    height: 75vh;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.banner-home .content-camp h2 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    position: absolute;
    font-weight: 500;
    padding: 10% 5%;
}

.banner-home .box-quote {
    width: 65%;
    background-color: #0D345F;
    position: relative;
    top: 85%;
    border-radius: 10px;
}

.banner-home .box-quote h3 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding-top: 25px;
}


/* MOBILE VIEW & SMALL DEVICES*/

@media (max-width: 575.98px) {
    .banner-home {
        margin-top: 65px;
        height: 55vh;
        background-image: url(../img/banner/health-mobile.jpg);
        background-repeat: no-repeat;
    }
    .banner-home::before {
        background-color: rgba(0, 0, 0, 0.45);
        margin-top: 65px;
        height: 55vh;
    }
    .banner-home .content-camp h2 {
        font-size: 15px;
        font-weight: 500;
        padding: 10% 5%;
        width: 50%;
    }
    .banner-home .box-quote {
        width: 80%;
        top: 55%;
    }
    .icon-size .font-awsome .fas {
        font-size: 30px;
    }
    .icon-size .font-awsome p {
        font-size: 12px;
    }
    .banner-home .box-quote h3 {
        font-size: 15px;
    }
    .banner-home .quick-link {
        position: absolute;
        top: 17%;
        right: 0%;
    }
    .banner-home .quick-link .btn {
        width: 100px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 10px;
    }
    .small-opt {
        margin-top: 50%;
    }
    .small-opt .prod {
        margin: 10% auto;
    }
    .products-repsonive .prod {
        margin: 10% auto;
    }
}


/* TABLET VIEW */

@media (min-width: 576px) and (max-width: 767.98px) {
    .banner-home {
        margin-top: 65px;
        width: 100%;
        height: 60vh;
        background-image: url(../img/banner/covid.jpg);
        background-size: cover;
        background-position: left;
    }
    .banner-home::before {
        background-color: rgba(0, 0, 0, 0.45);
        margin-top: 65px;
        height: 60vh;
    }
    .banner-home .content-camp h2 {
        font-size: 22px;
    }
    .banner-home .box-quote {
        width: 80%;
        top: 55%;
    }
    .icon-size .font-awsome .fas {
        font-size: 30px;
    }
    .icon-size .font-awsome p {
        font-size: 12px;
    }
    .banner-home .box-quote h3 {
        font-size: 20px;
    }
    .banner-home .quick-link {
        top: 10%;
        right: 0%;
    }
    .banner-home .quick-link .btn {
        width: 100px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 10px;
    }
    .small-opt {
        margin-top: 10%;
    }
    .small-opt .prod {
        margin: 10% auto;
    }
}


/* END OFLARGE MOBILE DEVICES */


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .banner-home {
        margin-top: 65px;
        width: 100%;
        height: 55vh;
        background-image: url(../img/banner/covid.jpg);
        background-size: cover;
        background-position: left;
    }
    .banner-home::before {
        background-color: rgba(0, 0, 0, 0.45);
        margin-top: 65px;
        height: 55vh;
    }
    .banner-home .content-camp h2 {
        font-size: 22px;
    }
    .banner-home .box-quote {
        width: 80%;
        top: 70%;
    }
    .icon-size .font-awsome .fas {
        font-size: 30px;
    }
    .icon-size .font-awsome p {
        font-size: 12px;
    }
    .banner-home .box-quote h3 {
        font-size: 20px;
    }
    .banner-home .quick-link {
        top: 5%;
        right: 0%;
    }
    .banner-home .quick-link .btn {
        width: 100px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 10px;
    }
    .small-opt {
        margin-top: 10%;
    }
    .small-opt .prod {
        margin: 5% auto;
    }
}


/* END OF Medium devices (tablets, 768px and up) */


/* Medium devices (tablets, 768px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner-home {
        margin-top: 65px;
        width: 100%;
        height: 55vh;
    }
    .banner-home::before {
        background-color: rgba(0, 0, 0, 0.45);
        margin-top: 65px;
        height: 55vh;
    }
    .banner-home .content-camp h2 {
        font-size: 22px;
    }
    .banner-home .box-quote {
        width: 80%;
        top: 70%;
    }
    .icon-size .font-awsome .fas {
        font-size: 30px;
    }
    .icon-size .font-awsome p {
        font-size: 12px;
    }
    .banner-home .box-quote h3 {
        font-size: 20px;
    }
    .banner-home .quick-link {
        top: 5%;
        right: 0%;
    }
    .banner-home .quick-link .btn {
        width: 100px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 10px;
    }
}


/* END OF Medium devices (tablets, 768px and up) */

.font-awsome {
    cursor: pointer;
    padding-bottom: 20px;
    padding: 20px 40px 10px 40px;
}

.font-awsome .fas {
    color: #fff;
    font-size: 35px;
}

.font-awsome p {
    font-size: 15px;
    color: #fff;
}

.font-awsome:hover .fas {
    color: #C80D10;
}

.font-awsome:hover p {
    color: #C80D10;
}

.font-awsome:hover {
    color: #C80D10;
    -webkit-box-shadow: 2px 3px 14px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 3px 14px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 3px 14px 0px rgba(0, 0, 0, 0.55);
    border-radius: 10%;
}

.banner-home .quick-link {
    margin-top: -7%;
}

.quick-link .btn {
    margin: 5px auto;
    font-family: 'Oswald', sans-serif;
    width: 150px;
    font-size: 14px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #0D345F;
    border: 1px solid #0D345F;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.2);
    box-shadow: 2px 2px 5px 1px rgba(255, 255, 255, 0.2);
}

.text-no {
    color: #fff;
    padding: 10px 40px 0 0;
    font-size: 17px;
    font-weight: 800;
}


/* END HOMEPAGE CONTAINER */

.banner-about {
    width: 100%;
    height: 55vh;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-career {
    width: 100%;
    height: 60vh;
    background-image: url(../images/work.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-portal {
    width: 100%;
    height: 60vh;
    background-image: url(../images/above-adventure-aerial-air.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-media {
    width: 100%;
    height: 60vh;
    background-image: url(../images/media.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-csr {
    width: 100%;
    height: 60vh;
    background-image: url(../images/csr-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-invest {
    width: 100%;
    height: 60vh;
    background-image: url(../img/invest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-aef {
    width: 100%;
    height: 70vh;
    background-image: url(../img/apollo_asset/equityfundbanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-abf {
    width: 100%;
    height: 70vh;
    background-image: url(../img/apollo_asset/balancefundbanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-ammf {
    width: 100%;
    height: 70vh;
    background-image: url(../img/apollo_asset/moneymarketbanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ammf-content h2 {
    padding-top: 30%;
}

.banner-invest::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 60%;
    width: 100%;
    top: 2px;
    right: 0;
    left: 0;
    bottom: 0;
}

.banner-companies {
    width: 100%;
    height: 60vh;
    background-image: url(../img/company.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.banner-leadership {
    width: 100%;
    height: 60vh;
    background-image: url(../img/group/board.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2.5%;
}

.banner-motor {
    width: 100%;
    height: 60vh;
    background-image: url(../img/motor-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-motor::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 60%;
    width: 100%;
    top: 12vh;
    right: 0;
    left: 0;
    bottom: 0;
}

.banner-media::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 60%;
    width: 100%;
    top: 12vh;
    right: 0;
    left: 0;
    bottom: 0;
}

.cover-line {
    margin-top: -15px;
}

.cover-line1 {
    margin-top: -12px;
}


/* APOLLO ASSET CAMPAIGN */

.ammf-form input {
    width: 100%;
    padding: 25px 20px;
}

.ammf-form ::placeholder {
    font-size: 15px;
}

.ammf-form label {
    font-size: 16px;
    margin: 10px 0px;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    display: table;
    width: 100%;
    height: 88vh;
    background: #000;
}

#intro .carousel-item {
    width: 100%;
    height: 88vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#intro .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .carousel-content {
    position: absolute;
    top: 81.1%;
    text-align: center;
    background-image: url(../img/banner.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

#intro h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
}

@media (max-width: 768px) {
    #intro h2 {
        font-size: 28px;
    }
}

#intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
}

@media (min-width: 1024px) {
    #intro p {
        width: 60%;
    }
}

#intro .carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
    width: 10%;
}

@media (min-width: 1024px) {
    #intro .carousel-control-prev,
    #intro .carousel-control-next {
        width: 5%;
    }
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

#intro .carousel-indicators li {
    cursor: pointer;
}

#intro .btn-get-started {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #C80D10;
}

#intro .btn-get-started:hover {
    background: #fff;
    color: #C80D10;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}


/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}


/* Nav Meu Container */

#nav-menu-container {
    /* float: right; */
    margin: 0 auto;
    padding-left: 25%;
}

@media (min-width: 1024px) {
    #nav-menu-container {
        padding-right: 60px;
    }
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}


/* Nav Meu Styling */

.nav-menu {
    margin-left: -10%;
}

.nav-menu a {
    padding: 10PX 7px 0px 7px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 100;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
    color: #C80D10;
}

.nav-menu>li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
}

.nav-menu ul li:hover>a {
    color: #C80D10;
}

.nav-menu ul ul {
    margin: 0;
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #0D345F;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}


/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    padding-left: 10px;
    bottom: 0;
    z-index: 998;
    background: #0D345F;
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

#mobile-nav ul li a:hover {
    color: #EE2328;
    border-left: 3.5px solid #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #C80D10;
}

#mobile-nav ul .menu-has-children li a {
    text-transform: none;
}

#mobile-nav ul .menu-item-active {
    color: #C80D10;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}


/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}


/*--------------------------------------------------------------
# FLAGS
--------------------------------------------------------------*/


/* ABOUT US */

.apollo {
    margin: 5% auto;
    text-align: center;
}

.apollo p {
    text-align: left;
}

.header-line {
    width: 450px;
    margin: 0 auto;
    height: 4px;
    background-image: linear-gradient(to right, #C80D10, rgb(23, 88, 158));
    border-radius: 50%;
}

@media (max-width: 767.98px) {
    .header-line {
        width: 75%;
    }
}

@media (max-width: 575.98px) {
    .header-line {
        width: 90%;
    }
}


/*--------------------------------------------------------------
#PRODUCTS
--------------------------------------------------------------*/

.product {
    width: 100%;
    margin: 10% auto 6% auto;
    padding-top: 2%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
}

.product-new h1 {
    padding-left: 10%;
}

.line {
    margin: 0 auto;
    width: 250px;
    height: 4px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #C80D10, rgb(23, 88, 158));
}

.acess .content-offer {
    padding: 15px 0px;
    width: 60%;
}

.product p {
    padding: 2% 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row-product {
    margin: 5% auto;
}

.product-box {
    width: 90%;
    height: 260px;
    margin: 5% auto;
    border-radius: 20px;
    -webkit-box-shadow: 11px 8px 48px 3px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 11px 8px 48px 3px rgba(0, 0, 0, 0.33);
    box-shadow: 11px 8px 48px 3px rgba(0, 0, 0, 0.33);
}

@media (max-width: 767.98px) {
    .line {
        margin: 0 auto;
        width: 250px;
        height: 4px;
    }
    .product-box {
        /* width: 40%; */
        margin: 3% auto;
        align-items: center;
    }
}

@media (max-width: 575.98px) {
    .line {
        width: 50%;
        height: 4px;
    }
    .product-box {
        /* width: 70%; */
        margin: 5% auto;
        align-items: center;
    }
}

.prd-1 {
    background-image: url(../images/baby.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
}

.prd-1:hover {
    transform: scale(1.12);
}

.prd-1a {
    background-image: url(../img/domestic.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
}

.prd-1a:hover {
    transform: scale(1.12);
}

.color-overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    position: absolute;
    border-radius: 20px;
}

.prd-2 {
    background-image: url(../images/travell.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-2:hover {
    transform: scale(1.12);
}

.prd-3 {
    background-image: url(../images/marine.jpeg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-3:hover {
    transform: scale(1.12);
}

.prd-4 {
    background-image: url(../images/fruit-big.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-4:hover {
    transform: scale(1.12);
}

.prd-4a {
    background-image: url(../img/sheep.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-4a:hover {
    transform: scale(1.12);
}

.prd-5 {
    background-image: url(../images/motor.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
}

.prd-5:hover {
    transform: scale(1.12);
}

.prd-5a {
    background-image: url(../images/auto.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
}

.prd-5a:hover {
    transform: scale(1.12);
}

.prd-6 {
    background-image: url(../images/products-01.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-6:hover {
    transform: scale(1.12);
}

.prd-6a {
    background-image: url(../img/personal.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-6a:hover {
    transform: scale(1.12);
}

.prd-7 {
    background-image: url(../images/products-03.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-7:hover {
    transform: scale(1.12);
}

.prd-9 {
    background-image: url(../images/products-04.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-9:hover {
    transform: scale(1.12);
}

.prd-10 {
    background-image: url(../images/products-05.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
}

.prd-10:hover {
    transform: scale(1.12);
}

.prd-11 {
    background-image: url(../images/products-06.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-11:hover {
    transform: scale(1.12);
}

.prd-12 {
    background-image: url(../images/products-07.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
}

.prd-12:hover {
    transform: scale(1.12);
}

.prd-13 {
    background-image: url(../images/products-08.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-13:hover {
    transform: scale(1.12);
}

.prd-14 {
    background-image: url(../images/products-09.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
}

.prd-14:hover {
    transform: scale(1.12);
}

.prd-15 {
    background-image: url(../images/products-10.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-15:hover {
    transform: scale(1.12);
}

.prd-16 {
    background-image: url(../images/products-11.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-16:hover {
    transform: scale(1.12);
}

.prd-17 {
    background-image: url(../images/products-12.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-17:hover {
    transform: scale(1.12);
}

.prd-18 {
    background-image: url(../images/products-13.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-18:hover {
    transform: scale(1.12);
}

.prd-19 {
    background-image: url(../images/products-14.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-19:hover {
    transform: scale(1.12);
}

.prd-20 {
    background-image: url(../images/products-15.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-20:hover {
    transform: scale(1.12);
}

.prd-21 {
    background-image: url(../images/funds-01.jpeg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-21:hover {
    transform: scale(1.12);
}

.prd-22 {
    background-image: url(../images/funds-02.jpeg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-22:hover {
    transform: scale(1.12);
}

.prd-23 {
    background-image: url(../images/funds-03.jpeg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.prd-23:hover {
    transform: scale(1.12);
}

.wrapper {
    width: 90%;
    margin-top: 10px;
}

.content {
    margin-top: 50%;
    text-align: left;
    position: relative;
}

.content h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding-left: 7%;
}

.content p {
    color: #fff;
    font-size: 12px;
    margin-top: -20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.selection-btn p {
    color: #fff;
    font-size: 10px;
    padding: 4%;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.selection-btn .btn-primary {
    background-color: #0C4DA2;
}

.btn-mine {
    border-radius: 20px;
    width: 60%;
}

.red-b {
    margin-left: -40px;
    background-color: slategray;
}

.red-b:hover {
    background-color: #C80D10;
    transition: 0.3s ease-in-out;
}

.load-more .btn {
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 2%;
    -webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
}

.load-more .btn-primary {
    background-color: #0C4DA2;
}

.load-more .btn-dark {
    background-color: slategray;
    border: 1px solid slategray;
}

.load-more .btn:hover {
    -webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    background-color: #C80D10;
    border: 1px solid #C80D10;
    transition: all 300ms ease;
}


/* OTHER PRODUCTS */


/*--------------------------------------------------------------
# Intro1 Section
--------------------------------------------------------------*/

#intro1 {
    display: table;
    width: 100%;
    height: 80vh;
    margin-left: 10%;
    /* margin-top: -20px; */
}

@media (max-width: 768px) {
    #intro1 {
        margin-left: 0;
    }
}

#intro1 .carousel-item {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#intro1 .carousel-inner {
    border-radius: 5%;
    -webkit-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.6);
}

#intro1 .carousel-item::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) 60%);
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 5%;
}

#intro1 .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro1 .carousel-content {
    margin: 36% 0 0 60%;
    text-align: center;
    z-index: 1;
}

#intro1 h3 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

#intro1 h4 {
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    /* font-style: oblique; */
    margin: 0 auto;
    margin-top: -12px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}

#intro1 p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* mine */

@media (max-width: 767.98px) {
    #intro1 {
        margin-top: 10%;
    }
    #intro1 .carousel-content {
        margin: 15% 0 0 50%;
    }
}

@media (max-width: 575.98px) {
    #intro1 {
        margin-top: 10%;
    }
    #intro1 .carousel-content {
        margin: 1% auto 0 auto;
    }
    #intro1 h4,
    h3 {
        padding-top: 5px;
    }
}


/* end */

@media (max-width: 768px) {
    #intro1 p {
        width: 80%;
        margin: 0 auto 15px auto;
        color: #fff;
    }
}

@media (min-width: 1024px) {
    #intro p {
        width: 60%;
    }
}

#intro1 .carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

#intro1 .carousel-fade .carousel-inner .carousel-item,
#intro1 .carousel-fade .carousel-inner .active.carousel-item-left,
#intro1 .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#intro1 .carousel-fade .carousel-inner .active,
#intro1 .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro1 .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#intro1 .carousel-fade .carousel-inner .carousel-item-prev,
#intro1 .carousel-fade .carousel-inner .active.carousel-item-left,
#intro1 .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#intro1 .carousel-control-prev,
#intro1 .carousel-control-next {
    width: 10%;
}

@media (min-width: 1024px) {
    #intro1 .carousel-control-prev,
    #intro1 .carousel-control-next {
        width: 5%;
    }
}

#intro1 .carousel-control-next-icon,
#intro1 .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}

#intro1 .carousel-indicators li {
    cursor: pointer;
}

#intro1 .btn-get-started {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 7px 25px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #C80D10;
    text-decoration: none;
}

#intro1 .btn-get-started:hover {
    background: #fff;
    color: #C80D10;
    border: 2px solid #fff;
}


/*--------------------------------------------------------------
# CONTENT ON THE SIDE
--------------------------------------------------------------*/

.apollo-facility {
    width: 80%;
    margin-top: 5%;
    margin-left: 15%;
}

.under-line img {
    height: 3px;
}

.img1 {
    width: 40%;
}

.img2 {
    width: 18%;
}

.img3 {
    width: 90%;
}

.img4 {
    width: 20%;
}

.img5 {
    width: 40%;
}

.img6 {
    width: 30%;
}

.img7 {
    width: 25%;
}

.img8 {
    width: 22%;
}

.img9 {
    width: 50%;
}

.img10 {
    width: 43%;
}

.img11 {
    width: 70%;
}

.img12 {
    width: 60%;
    margin-top: -10px;
}

.img13 {
    width: 100%;
    margin-top: -10px;
}

.apollo-facility p {
    padding-top: 3%;
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 768px) {
    .apollo-facility {
        margin-bottom: 15%;
    }
}


/* mine */

@media (max-width: 767.98px) {
    .apollo-facility {
        margin-top: -15%;
    }
}

@media (max-width: 575.98px) {
    .apollo-facility {
        margin-top: -45%;
    }
}

.button {
    margin: 5% auto;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}

.button .btn-primary {
    background-color: #0C4DA2;
}

.button .btn-dark {
    background-color: slategray;
    border: 1px solid slategray;
}

.button .btn1 {
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    text-decoration: none;
}

.button .btn1:hover {
    -webkit-box-shadow: 11px 8px 48px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 11px 8px 48px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 11px 8px 48px 0px rgba(0, 0, 0, 0.5);
    background-color: #C80D10;
    /* border: 2px solid #C80D10; */
    transition: all 300ms ease;
}


/*--------------------------------------------------------------
# ACESS SERVICE
--------------------------------------------------------------*/

.acess {
    margin-top: 0px;
}

.img-log {
    width: 62.5%;
}

.img-acess img {
    width: 52%;
}

.content-acess {
    margin: 5% auto 10% auto;
}

.content-acess h3 {
    color: #0C4DA2;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.content-acess p {
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-bottom: 30px;
}


/*--------------------------------------------------------------
# MEDIA CENTER
--------------------------------------------------------------*/

.cont {
    width: 75%;
}

.media-content img {
    width: 90%;
    border-radius: 10px;
    -webkit-box-shadow: 11px 8px 48px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 11px 8px 48px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 11px 8px 48px 0px rgba(0, 0, 0, 0.33);
}

.media-content p {
    text-align: start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 16px; */
}

.media-content h3 {
    color: #0C4DA2;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}


/* mine */


/* @media (max-width: 767.98px) {
    .media-content img {}
}

@media (max-width: 575.98px) {
    .media-content img {}

} */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: rgb(2, 23, 44);
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: rgb(6, 46, 88);
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .mover {
    padding-left: 7%;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-left: 4px solid #C80D10;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #eee;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #0C4DA2;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #C80D10;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}

#footer .footer-top h4::before {
    right: 0;
    /* background: ; */
}

#footer .footer-top h4::after {
    background: #C80D10;
    width: 60px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ddd;
}

#footer .footer-top .footer-links ul li {
    /* border-bottom: 1px solid #fff; */
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
    color: #C80D10;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #C80D10;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #C80D10;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

#footer .terms-color {
    color: #fff;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}

.footer-line {
    width: 100%;
    height: 5px;
    background-image: url(../images/line.png);
    background-size: cover;
    background-color: #0C4DA2;
}


/* covid */

.order-position li {
    color: #0D345F;
    font-weight: 500;
    margin-left: 20px;
}

.corona-sign .cvd-img {
    width: 100px;
    float: left;
    margin: 0 10% 20% 0;
}

#image1 {
    position: fixed;
    top: 80%;
    left: 10px;
    width: 100px;
    height: 100px;
}

/* THANK YOU CONTAINER */

.banner-thankyou {
    margin-top: 60px;
    width: 70%;
    height: 90vh;
    background-image: url(../img/banner/Thankyoupage.jpg);
    background-size: cover;
    background-position: center;
}

 .tag {
    float: left;
    position: relative;
    left: 430px;
    top: 460px;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
 }

.banner-thankyou .content-camp h2 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    position: absolute;
    font-weight: 500;
    padding: 10% 5%;
}



/* MOBILE VIEW & SMALL DEVICES*/

@media (max-width: 575.98px) {
    .banner-thankyou {
        margin-top: 65px;
        height: 55vh;
        background-image: url(../img/banner/Thankyoumobile.jpg);
        background-repeat: no-repeat;
    }
    .tag {
        float: left;
        position: relative;
        left: 130px;
        top: 260px;
        z-index: 1000;
        padding: 5px;
        color: #FFFFFF;
        font-weight: bold;
     }
    .banner-thankyou::before {
        background-color: rgba(0, 0, 0, 0.45);
        margin-top: 65px;
        height: 55vh;
    }
    .banner-thankyou .content-camp h2 {
        font-size: 15px;
        font-weight: 500;
        padding: 10% 5%;
        width: 50%;
    }
    .banner-thankyou .box-quote {
        width: 80%;
        top: 55%;
    }
    .icon-size .font-awsome .fas {
        font-size: 30px;
    }
    .icon-size .font-awsome p {
        font-size: 12px;
    }
    .banner-thankyou .box-quote h3 {
        font-size: 15px;
    }
    .banner-thankyou .quick-link {
        position: absolute;
        top: 17%;
        right: 0%;
    }
    .banner-thankyou .quick-link .btn {
        width: 100px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 10px;
    }
    .small-opt {
        margin-top: 50%;
    }
    .small-opt .prod {
        margin: 10% auto;
    }
    .products-repsonive .prod {
        margin: 10% auto;
    }
}


/* TABLET VIEW */

@media (min-width: 576px) and (max-width: 767.98px) {
    .banner-thankyou {
        margin-top: 65px;
        width: 100%;
        height: 60vh;
        background-image: url(../img/banner/Thankyoumobile.jpg);
        background-size: cover;
        background-position: left;
    }
    .tag {
        float: left;
        position: relative;
        left: 430px;
        top: 460px;
        z-index: 1000;
        padding: 5px;
        color: #FFFFFF;
        font-weight: bold;
     }
    .banner-thankyou::before {
        background-color: rgba(0, 0, 0, 0.45);
        margin-top: 65px;
        height: 60vh;
    }
    .banner-thankyou .content-camp h2 {
        font-size: 22px;
    }
    .banner-thankyou .box-quote {
        width: 80%;
        top: 55%;
    }
    .icon-size .font-awsome .fas {
        font-size: 30px;
    }
    .icon-size .font-awsome p {
        font-size: 12px;
    }
    .banner-thankyou .box-quote h3 {
        font-size: 20px;
    }
    .banner-thankyou .quick-link {
        top: 10%;
        right: 0%;
    }
    .banner-thankyou .quick-link .btn {
        width: 100px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 10px;
    }
    .small-opt {
        margin-top: 10%;
    }
    .small-opt .prod {
        margin: 10% auto;
    }
}


/* END OFLARGE MOBILE DEVICES */


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .banner-thankyou {
        margin-top: 65px;
        width: 100%;
        height: 55vh;
        background-image: url(../img/banner/Thankyoumobile.jpg);
        background-size: cover;
        background-position: left;
    }
    .tag {
        float: left;
        position: relative;
        left: 430px;
        top: 460px;
        z-index: 1000;
        padding: 5px;
        color: #FFFFFF;
        font-weight: bold;
     }
    .banner-thankyou::before {
        background-color: rgba(0, 0, 0, 0.45);
        margin-top: 65px;
        height: 55vh;
    }
    .banner-thankyou .content-camp h2 {
        font-size: 22px;
    }
    .banner-thankyou .box-quote {
        width: 80%;
        top: 70%;
    }
    .icon-size .font-awsome .fas {
        font-size: 30px;
    }
    .icon-size .font-awsome p {
        font-size: 12px;
    }
    .banner-thankyou .box-quote h3 {
        font-size: 20px;
    }
    .banner-thankyou .quick-link {
        top: 5%;
        right: 0%;
    }
    .banner-thankyou .quick-link .btn {
        width: 100px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 10px;
    }
    .small-opt {
        margin-top: 10%;
    }
    .small-opt .prod {
        margin: 5% auto;
    }
}


/* END OF Medium devices (tablets, 768px and up) */


/* Medium devices (tablets, 768px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .banner-thankyou {
        margin-top: 65px;
        width: 100%;
        height: 55vh;
    }
    .tag {
        float: left;
        position: relative;
        left: 430px;
        top: 460px;
        z-index: 1000;
        padding: 5px;
        color: #FFFFFF;
        font-weight: bold;
     }
    .banner-thankyou::before {
        background-color: rgba(0, 0, 0, 0.45);
        margin-top: 65px;
        height: 55vh;
    }
    .banner-thankyou .content-camp h2 {
        font-size: 22px;
    }
    .banner-thankyou .box-quote {
        width: 80%;
        top: 70%;
    }
    .icon-size .font-awsome .fas {
        font-size: 30px;
    }
    .icon-size .font-awsome p {
        font-size: 12px;
    }
    .banner-thankyou .box-quote h3 {
        font-size: 20px;
    }
    .banner-thankyou .quick-link {
        top: 5%;
        right: 0%;
    }
    .banner-thankyou .quick-link .btn {
        width: 100px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: 10px;
    }
}


/* END OF Medium devices (tablets, 768px and up) */

