@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}


.about h2{
    font-family: 'Oswald',
    sans-serif;
    color: #0C4DA2;
    font-size: 25px;
} 

.about img {
    width: 150px;
}

.slide-history{
    margin: 5% auto;
}

/* WE DO MORE */

.we {

    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 1.5s;
    cursor: pointer;
    background-position: center;
}

.we a{
    text-decoration: none;
}

.we:hover {
    transform: scale(1.12);
}

.company-image{
    background-image: url(../img/apollo.jpg);
}

.company-csr {
    background-image: url(../images/hand.jpeg);
}

.company-media {
    background-image: url(../img/adult.jpg);
}

.company-product {
    background-image: url(../images/auto.jpg);
}

/* OUR CUSTOMER CHARTER */

.charter{
    width: 100%;
    height: 330px;
    margin: 10% auto 6% auto;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
}

.charter img{
    width: 80px;
    /* height: 75px; */
    margin: 10% auto 0% auto;
}

.charter h2{
    font-family: 'Oswald',
    sans-serif;
    color: #0C4DA2;
    font-size: 25px;
}

.charter hr{
    width: 130px;
    margin: 0 auto;
    border: 1px solid slategray;
}

.charter p{
    padding-bottom: 30px;
}

/* REQUEST TO YOU */

.request{
    width: 100%;
    height: 85vh;
    background-image: url(../img/customer.jpg);
    background-size: cover;

}

.request ul{
    padding-top: 10%;
    color: #0C4DA2;
}

.request ul li {
    padding-top: 20px;
}

.customer-request {
    margin-top: -15%;
}