@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

.header-finance{
    margin-top: 7%;
}


.charter3 {
    width: 100%;
    height: 250px;
    margin: 10% auto 6% auto;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
    box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 1);
}

.charter3 img {
    width: 80px;
    /* height: 75px; */
    margin: 10% auto 0% auto;
}

.charter3 h2 {
    font-family: 'Oswald',
        sans-serif;
    color: #0C4DA2;
    font-size: 24px;
    padding-top: 20px;
}

.charter3 hr {
    width: 80%;
    margin: 0 auto;
    border: 1px solid slategray;
}

.charter3 p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    padding-top: 30px;
}
.charter3 p a{
    font-family: 'Oswald',
    sans-serif;
    color: #0D345F;
}

.charter3 a {
    
    color: #0C4DA2;
}

.charter3 a:hover {
    color: #C80D10;
}


/* TRAILBLAZER */

.trail-back{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../img/trailblazer.jpg);
}

.trail-back::before {
   content: '';
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   height: 100vh;
   width: 100%;
   
}
@media (max-width: 575.98px) {
    .trail-back {
        width: 100%;
        height: 100%;
        background-image: url(../img/trailblazer.jpg);
    }
    .trail-back::before {
        height: 210%;
        width: 100%;
    }
}

.back-chatter{
    background-color: #fff;
     -webkit-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 0.3);
     -moz-box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 0.3);
     box-shadow: 0px 0px 10px 6px rgba(226, 226, 226, 0.3);
}
.charter3 p  {
    font-family: 'Oswald',
        sans-serif;
    color: #0D345F;
}


.card-fin{
    margin: 5% auto;
}

.card-fin .my-custom {
    font-family: 'Oswald',
    sans-serif;
     color: #0C4DA2;
}

.card-fin .my-text{
     font-family: 'Oswald',
     sans-serif;
     color: #0C4DA2;
}

.card-fin .my-text:hover {
    font-family: 'Oswald',
        sans-serif;
    color: #C80D10;

}

.paragraph-text-size {
    width: 100%;
    height: 120px;
}
