.header-image1 {
    width: 100%;
    height: 65vh;
    margin-top: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.header-image::before {
    content: '';
    position: absolute;
    height: 60vh;
    width: 100%;
    top: 12%;
    right: 0;
    left: 0;
    bottom: 0;
}


/* JOB PAGE */

.job-box1 {
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.line-media {
    margin-top: -10px;
}