@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

body p {
    color: #0D345F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* videos */


.video-frame{
    margin: 5% auto;
    
}

.video-frame iframe{
    width: 80%;
    height: 400px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(95, 99, 104, 0.7);
    -moz-box-shadow: 0px 0px 10px 2px rgba(95, 99, 104, 0.7);
    box-shadow: 0px 0px 10px 2px rgba(95, 99, 104, 0.7);
    border-radius: 20px;
}

.post {
    margin: 2% auto 0% auto;
}

.img-container {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(95, 99, 104, 0.7);
    -moz-box-shadow: 0px 0px 10px 2px rgba(95, 99, 104, 0.7);
    box-shadow: 0px 0px 10px 2px rgba(95, 99, 104, 0.7);
    border-radius: 20px;

}

.post .box-info {
    width: 85%;
    height: 300px;
    position: relative;
    top: -100px;
    padding: 20px 10px 0px 10px;
    background-color: white;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(95, 99, 104, 0.52);
    -moz-box-shadow: 0px 10px 15px 0px rgba(95, 99, 104, 0.52);
    box-shadow: 0px 10px 15px 0px rgba(95, 99, 104, 0.52);
    border-radius: 20px;
}

.post .box-info h2 {
    font-size: 20px;
    padding: 15px 15px 0 15px;
    font-family: 'Oswald', sans-serif;
    color: #0C4DA2;
}

.post .box-info p {
    font-size: 15px;
}

.post .box-info .btn {
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 14px;
    margin-left: 10px;
}

.post .box-info .btn-primary {
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    -webkit-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    -moz-box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
    box-shadow: 7px 7px 10px -2px rgba(95, 99, 104, 0.6);
}

.pagin-design {
    border-radius: 50%;
    width: 30%;
    margin: 0 auto;
    /* background-color: #0C4DA2; */
}


/* MOBILE VIEW & SMALL DEVICES*/
@media (max-width: 575.98px) {
    .video-frame iframe {
        width: 90%;
        height: 250px;    
    }
 
    .post .box-info {
        height: 320px;
    }
    .post .box-info h2 {
        font-size: large;
    }
    .post .box-info p {
        font-size: small;
    }
    .pagin-design {
        width: 70%;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .video-frame iframe {
        width: 90%;
        height: 250px;
    }
     .post .box-info {
         height: 320px;
     }
     .post .box-info h2 {
        font-size: large;
    }
    .post .box-info p {
        font-size: small;
    }
}



/* CSR */

.logo-csr{
    width: 150px;
    height: 150px;
    background-image: url(../img/apafoundation3.jpg);
    background-size: contain;
    background-repeat:no-repeat; 
    background-position: center;
    position: absolute;

}

.objective {
    text-align: left;
    margin: 5% auto;
}

.objective h2 {
    font-size: 25px;
    padding: 0 20px;
    font-family: 'Oswald', sans-serif;
    color: #0C4DA2;
}

.objective ul {
    padding-left: 5%;
}

.csr-cont {
    padding-top: 8%;
    padding-left: 50%;
}

.csr-cont h2 {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.csr-cont p {
    color: #fff;
    font-size: 14px;
    padding-top: 20px;
}

.csr-cont .btn-primary {
    background-color: #0C4DA2;
    border: 1px solid #0C4DA2;
    border-radius: 20px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

